<h2>
<%= link_to "削除", stock_path(@stock.id), method: :delete, class: "header-menu delete-btn", data: { confirm: '削除してよろしいですか？' }%>
<%= link_to '内容訂正', edit_stock_path, class: 'header-menu' %> 

<%= @stock.stock_code %>
</h2>
<h1><%= @stock.name %></h1>

<div class="detailed-info">
  
  <div class="dividends">
    <h4>配当情報</h4>

    

  <% if @stock.dividends.any? %>
    <ul>
      <% @stock.dividends.each do |dividend| %>
        <li class="dividends-list">
          配当入金:<%= dividend.year_month.strftime('%Y年%m月') %>
          <p class="dividend-info">配当(一株あたり):<%= dividend.dividend %></p>
          <p class="dividend-info">保有株数:<%= dividend.stock_num %>株</p>
          
          <% total = dividend.dividend.to_i * dividend.stock_num.to_i %>
          <p class="total-dividend">今期配当合計:<%= total %>円</p>
          <p class="dividend-info">メモ:<%= dividend.comment %></P>
          <%= link_to "削除", stock_dividend_path(@stock, dividend), method: :delete, class: "header-menu delete-btn", data: { confirm: '削除してよろしいですか？' }%>
        </li>
      <% end %>
    </ul>
  <% end %>

    <%= form_for([@stock, @stock.dividends.build]) do |f| %>
    <p>
      <%= f.text_field :dividend, placeholder: '一株あたりの配当金額' %>
    </p>
    <p>
      <%= f.text_field :stock_num, placeholder: "保有株数" %>
    </p>
    <p>
      <%= f.text_area :comment, placeholder: "配当に関するメモ" %>
    </p>
    <p>
      <%= f.date_select :year_month, {discard_day: true} %>
    </p>
    <p>
      <%= f.submit "配当情報登録" %>
    </p>
    <% end %>


  </div>
  
  <div class="gifts">
    <h4>優待情報</h4>

  <% if @stock.gifts.any? %>
    <ul>
      <% @stock.gifts.each do |gift| %>
        <li class="gifts-list">
          優待品:<%= gift.gift_name %>
          <p>評価額:<%= gift.value %>円 優待到着:<%= gift.year_month.strftime('%Y年%m月') %></p>
          <p>メモ:<%= gift.comment %></P>
          <%= link_to "削除", stock_gift_path(@stock, gift), method: :delete, class: "header-menu delete-btn", data: { confirm: '削除してよろしいですか？' }%>
        </li>
      <% end %>
    </ul>
  <% end %>

    <%= form_for([@stock, @stock.gifts.build]) do |f| %>
    <p>
      <%= f.text_field :gift_name, placeholder: '優待品の詳細' %>
    </p>
    <p>
      <%= f.text_field :value, placeholder: "評価額" %>
    </p>
    <p>
      <%= f.text_area :comment, placeholder: "優待に関するメモ" %>
    </p>
    <p>
      <%= f.date_select :year_month, {discard_day: true} %>
    </p>
    <p>
      <%= f.submit "優待情報登録" %>
    </p>
    <% end %>

  </div>
</div>


