<%# アプリ全体のレイアウトはこちら %>
<%# CSSはapplication.css %>

<!DOCTYPE html>
<html>
  <head>
    <title>StockShow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h3><%= link_to image_tag('inu.png', class: 'logo'), root_path %></h3>
      <%= yield %>
    </div>
  </body>
</html>
